  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.682px;
    padding: 40px 20px 25px 20px;
    border-radius: 30px 30px 0 0;
    background-color: var(--main-bg-color-blue);
  }

  .name {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  
  .name h1 {
    font-size: 20px;
    color: var(--main-bg-color-white);
    margin: 0 0 10px;
    padding: 0;
  }

  .sub-header {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color-blue);
    color: var(--main-bg-color-white);
  }

  .text1 {
    padding: 0 160px 20px 26px;
  }

  .sub-list {
    padding: 0 0 30px 0;
    background-color: var(--main-bg-color-blue);
    color: var(--main-bg-color-white);
  }

  ul {
    list-style-type: none;
    columns: 2;
  }

  #cuentas {
    display: flex;
    justify-content: center;
    margin: 18px 0 0 23px;
    z-index: 9;
    position: relative;
  }

  #banner {
    display: flex;
    justify-content: center;
    margin: 18px 0 0 23px;
  }

  #banner .card-body {
    background-image: linear-gradient(to right, var(--main-bg-color-blue), var(--secundary-color-blue-one));
    padding: 0;
  }

  #banner .left-side {
    color: var(--main-bg-color-white);
    padding: 17px 17px 0 17px;
  }

  #banner-inside{
    display: flex;
    flex-direction: row;
  }

  #banner .row {
    align-items: center;
  }

  #tarjetas {
    display: flex;
    justify-content: center;
    margin: 18px 0 0 23px;
  }

